.list-panel {
  height: 344px;
  margin-top: 1em;
  overflow-y: auto;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 2px;
}

.list-panel .list-group-item {
  border-left: none;
  border-right: none;
}

.list-panel .list-group-item:first-child {
  border-top: none;
}

.todo-label::after {
  cursor: pointer;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.todo-label::before {
  cursor: pointer;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.completed-todo {
  text-decoration: line-through;
  color: #6c757d;
}