.list-panel {
  height: 344px;
  margin-top: 1em;
  overflow-y: auto;
}

.todo-label::after {
  cursor: pointer;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.todo-label::before {
  cursor: pointer;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}